html, body, .app {
    height: 100vh;
    padding: 1rem;
    background: #eee;
}

.messages {
    height: 380px;
    overflow-y: scroll;
    min-width: 100%;
}

.message__self {
    border-left: 2px solid orange;
    padding-left: 0.5rem;
}

.message__image {
    padding: 1rem;
}